fastapi~=0.95.1
uvicorn

#DATABASE
sqlalchemy~=2.0.9
psycopg2

# ENVIRONMENT VARIABLES
python-dotenv~=1.0.0

# EMAIL VALIDATION
pydantic[email]~=1.10.7

# HASHING
passlib[bcrypt]~=1.7.4

# JWT TOKEN
python-jose

# FORM DATA
python-multipart

# TEMPLATE
jinja2

# STATIC FILES
aiofiles

