{% extends "shared/base.html" %}

{% block title %}
  <title>Music Board</title>
{% endblock %}

{% block content %}
<div class="container">
      <h1 class="display-3 text-dark text-center mt-5 mb-5">Your Playlist </h1>

    <div class="row mt-2">
    {% for music in musics %}
      <div class="col-lg-4 col-md-4 mr-auto mb-5">
        {% with obj=music %}
          {% include "components/card.html" %}
        {% endwith %}

        {% if loop.index %3 %}
      </div>
        {% else %}
          </div><br><div class="row">
        {% endif %}
    {% endfor %}
    </div>
</div>




{% endblock %}}